.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
  & > * {
    margin: 4px;
  }
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-align-center {
  align-items: center;
}
.flex-align-start {
  align-items: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.col { flex: 1;  }
.col-1 { flex-basis: 8.34%;  }
.col-2 { flex-basis: 16.68%;  }
.col-3 { flex-basis: 25%;  }
.col-4 { flex-basis: 33.36%;  }
.col-5 { flex-basis: 41.667%;  }
.col-6 { flex-basis: 50%;  }
.col-7 { flex-basis: 58.48%;  }
.col-8 { flex-basis: 66.67%;  }
.col-9 { flex-basis: 76.92%;  }
.col-10 { flex-basis: 83.34%;  }
.col-11 { flex-basis: 91.74%;  }
.col-12 { flex-basis: 100%;  }

.flex-grid {
  justify-content: space-between;
  .col-1 { flex-basis: calc(8.34% - 8px);  }
  .col-2 { flex-basis: calc(16.68% - 8px);  }
  .col-3 { flex-basis: calc(25% - 8px);  }
  .col-4 { flex-basis: calc(33.36% - 8px);  }
  .col-5 { flex-basis: calc(41.667% - 8px);  }
  .col-6 { flex-basis: calc(50% - 8px);  }
  .col-7 { flex-basis: calc(58.48% - 8px);  }
  .col-8 { flex-basis: calc(66.67% - 8px);  }
  .col-9 { flex-basis: calc(76.92% - 8px);  }
  .col-10 { flex-basis: calc(83.34% - 8px);  }
  .col-11 { flex-basis: calc(91.74% - 8px);  }
  .col-12 { flex-basis: calc(100% - 8px);  }
}
