.view {
}
.icon {
  padding: 8px;
  font-size: 1.5em;
}

.hide-sm-down {
  @media all and (max-width: map-get($breakpoints, "sm")) {
    display: none;
  }
}
.hide-md-down {
  @media all and (max-width: map-get($breakpoints, "md")) {
    display: none;
  }
}

.debug {
  border: 1px solid hotpink;
  min-height: 1em;
}

.margin {
  margin: 8px;
}

.margin-side {
  margin: 0 8px;
}
